<!DOCTYPE html>
<html>
<head>
	<title>Vue Teste</title>
	<meta charset="utf-8">

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/estilo.css">

</head>
<body>

	<div id="app">

		<div class="container-fluid" 
		style=
		"background-color: #DDDDDD;
		height:90px; 
		font-size: 60px;
		text-align: center;                               
		color: black;
		font-family: 'Poppins', sans-serif;

		">TESTE</div>


		<img src="https://image.flaticon.com/icons/svg/149/149187.svg" style="width: 28px;
		height: 28px;
		position: absolute;
		background-color: white;

		" v-on:click="esconderMenu()" > </img>


		<div class="menu" style="
		width: 100%;
		height: 28px;
		position: relative;" v-if="status == true">

		<img src="https://image.flaticon.com/icons/svg/149/149187.svg" style="width: 28px;
		height: 28px;
		position: absolute;
		background-color: white;

		" v-on:click="mostrarMenu()" > </img>

		<ul class="menuTextColor">

			<a class="" href="https://google.com"> HOME </a>		
			<ul></ul>
			<a href="https://google.com">FAZER PEDIDO</a>
			<ul></ul>
			<a href="https://google.com">CONTATO</a>
			
		</ul>

	</div> <br>

	<div class="container">
		<div class="row">



			<div class="col pedidosTi2">
				<label> Buscar </label>
				<input type="text" name="" v-model="busca">

				<hr>
				<label class="container" > <img id="imgPedidoCardapio" src="https://image.flaticon.com/icons/svg/1046/1046849.svg" />Cardápio </label>


				<div v-if="busca == 'c' || busca == 'co' || busca == 'cos'|| busca == ''">
					{{carneCostela.nome +'    R$'+ carneCostela.precoLata }}
					<button class="btn btn-primary" v-on:click="somar(0)" /> +
				</div>  <br>

				<div v-if="busca == 'c' || busca == 'co' || busca == 'coc' || busca == ''">
					{{bebidacocaLata.nome +'    R$'+ bebidacocaLata.precoLata }}
					<button class="btn btn-primary" v-on:click="somar(1)"
					/> +
				</div>
			</div>

			<div class="col pedidos" >
				<div class="pedidosTi"><img id="imgPedido" src="https://image.flaticon.com/icons/svg/1046/1046874.svg" />PEDIDO</div> <hr>
				<div v-if="bebidacocaLata.qnt > 0"> 
					<p id="textoPedidos" class="font-weight-bold" >  <img id="imgComidas" src="https://image.flaticon.com/icons/svg/1046/1046859.svg" /> 
						<a id="NumQnt"> {{bebidacocaLata.qnt + 'X'}} </a> 
						{{bebidacocaLata.nome}}
						Preço:  {{bebidacocaLata.precoTotal}} reais

						<button style="	
						font-family:  'Poppins', sans-serif;" class="btn btn-danger subtrair" v-on:click="subtrair(0)"/> -	</p>
					</div>

					<div v-if="carneCostela.qnt > 0"> 
						<p id="textoPedidos" class="font-weight-bold" >  <img id="imgComidas" src="https://image.flaticon.com/icons/svg/1046/1046880.svg" /> 
							<a id="NumQnt"> {{carneCostela.qnt + 'X'}} </a> 
							{{carneCostela.nome}}
							Preço:  {{carneCostela.precoTotal}} reais

							<button style="	
							font-family:  'Poppins', sans-serif;" class="btn btn-danger subtrair" v-on:click="subtrair(1)"/> -	</p>
						</div>

                        <div class="precototal" v-if="precoGeral > 0"> Preço Total= {{precoGeral}} </div>
					

					</div>
					<script>

						var app = new Vue({
							el: '#app',
							data: {
								status: true,							
								busca: '',
								precoGeral: 0,
								carneCostela: {
									nome: 'Costela Defumada',
									qnt:  0,
									precoTotal: 0,
									precoLata: 15.00
								},
      							bebidacocaLata:{
									nome: 'Coca-Cola Latinha 250ml',
									qnt: 0,
									precoTotal: 0,
									precoLata: 2.50
								}
							},

							methods:{
								somar(id){

									var geral = 0;
									if(id == 1){
										var teste = this.bebidacocaLata.qnt += 1;
										var precoBebida = this.bebidacocaLata.precoLata;
										var precoTotal = this.bebidacocaLata.precoTotal;
										var precoTotalcalc = precoTotal + precoBebida;
										this.bebidacocaLata.precoTotal = precoTotalcalc;
		                                    //Preço Geral
		                                this.precoGeral += this.bebidacocaLata.precoLata;

		                                }else if(id == 0){

		                                	var teste = this.carneCostela.qnt += 1;
		                                	var precoProduto = this.carneCostela.precoLata;
		                                	var precoTotal = this.carneCostela.precoTotal;
		                                	var precoTotalcalc = precoTotal + precoProduto;

		                                	this.carneCostela.precoTotal = precoTotalcalc;

											//Preço Geral

											this.precoGeral += this.carneCostela.precoLata ;
										}
									},

							subtrair(id){

								if(id == 0){
									var teste = this.bebidacocaLata.qnt -= 1;
									var precoBebida = this.bebidacocaLata.precoLata;
									var precoTotal = this.bebidacocaLata.precoTotal;
									var precoTotalcalc = precoTotal - precoBebida;
									this.bebidacocaLata.precoTotal = precoTotalcalc;
		                                    //Preço Geral
		                            this.precoGeral -= this.bebidacocaLata.precoLata;
		                    } else if(id == 1){

		                           	var teste = this.carneCostela.qnt -= 1;
		                            var precoProduto = this.carneCostela.precoLata;
		                            var precoTotal = this.carneCostela.precoTotal;
		                            var precoTotalcalc = precoTotal - precoProduto;
		                            this.carneCostela.precoTotal = precoTotalcalc;
											//Preço Geral
									this.precoGeral -= this.carneCostela.precoLata;
										}
									},
 								mostrarMenu(){							
										colocarFalse();
									},
									esconderMenu(){
										colocarTrue();
									},
								}
							})

						function colocarFalse(){
							this.app.status = false;
						}
						function colocarTrue(){
							this.app.status = true;
						}



					</script>



				</body>
				</html>